* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  text-decoration: underline;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

:root {
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    Arial, sans-serif;

  --header: #171a20;
  --text: #393c41;
  --primary: #393c41;
  --highlight: #F2F2F2;
  --bg: #fff;
}


.container {
  width: 100%;
  height: auto;
  font-size: 10px;
}

.container nav {
  width: 100%;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0;
  padding-left: 3em;
  padding-right: 2em;
  position: sticky;
  top: 0%;
  background-color: var(--bg);
}

.container nav img {
  object-fit: contain;
  height: 1.5em;
}

.container nav ul {
  display: flex;
  gap: 0em 0em;
  justify-content: space-between;
}

.container nav ul li a {
  color: var(--primary);
  font-size: 1.5em;
  font-weight: 600;
  padding: 7px 20px;
  border-radius: 3px;
  transition: 500ms ease-in;
  transition-timing-function: cubic-bezier(0.75, 0, 0, 1);
}

.container nav ul li a:hover {
  background-color: var(--highlight);
}

.home {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  margin: 3em 0em;
  /* padding-left: 3em; */
}

.home .sideBarSec {
  position: fixed;
  width: 20%;
  height: auto;
  left: 4em;
  top: 15%;
}

.home .sidebar {
  width: 100%;
  height: 300px;
}

.home .subMenu {
  display: none;
}

.home .sidebar form {
  display: none;
}

.home .sidebar h2 {
  color: var(--header);
  font-size: 2em;
  font-weight: 500;
  margin-left: 0.1em;
}

.home .sidebar li {
  font-size: 1.6em;
  margin: 1em 0em;
}

.home .sidebar li a {
  color: var(--primary);
  font-weight: 500;
  cursor: pointer;
  padding: 0.2em;
  border: 2px solid;
  border-color: transparent;
  transition: text 0.5s ease-in;
}

.home .sidebar li a:hover {
  text-decoration: underline;
}

.home .sidebar li a:active {
  border-radius: 5px;
  border-color: var(--primary);
}

/* MAIN */
.home .main {
  width: 67%;
  height: auto;
  margin-right: 4em;
}

.home main .sec {
  margin-bottom: 4em;
}

.home main h1 {
  color: var(--header);
  font-size: 4em;
  margin-bottom: 0.5em;
  font-weight: 600;
}

.home main h4 {
  color: var(--header);
  font-size: 1.5em;
  margin-bottom: 1em;
  font-weight: 600;
  line-height: 20px;
}

.home main p {
  color: var(--text);
  font-size: 1.5em;
  font-weight: 400;
  line-height: 25px;
  padding-bottom: 14px;
  max-inline-size: 75ch;
  word-spacing: 0.5px;
}

.home main p a {
  text-decoration: underline;
  color: var(--primary);
}

.home main p.row {
  display: flex;
}

.home main p li {
  margin-left: 0.5em;
}

.home main #explore h4 {
  margin-bottom: 0.2em;
}

.home main h4 li {
  list-style: inside;
}

.home main .sec p.explore {
  margin-left: 1.5em;
}

.container nav .menu {
  display: none;
}

.container nav .overlay {
  display: none;
}

.container .menu-overlay .cancel {
  display: none;
}

.container .menu-overlay .mobileNav {
  display: none;
}



/* MOBILE RESPONSIVE */
@media (max-width:1024px) {
  .container nav {
    padding-right: 0em;
    position: absolute;
  }

  .container nav ul {
    display: none;
    gap: 0em 1em;
    justify-content: space-between;
  }

  .container nav .menu {
    display: block;
  }

  .container nav .overlay {
    display: block;
  }

  .container .menu-overlay .mobileNav {
    display: block;
  }

  .container nav .menu a {
    color: var(--primary);
    font-size: 1.5em;
    font-weight: 600;
    padding: 10px 25px;
    border-radius: 3px;
    transition: 500ms ease-in;
    background-color: var(--highlight);
  }

  .container .menu-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    top: 0%;
    left: 0%;
    backdrop-filter: blur(4px);
    transform: translateX(100%);
    transition: 500ms ease-in-out;
    z-index: 6;
  }

  .container .menu-overlay .mobileNav {
    min-height: 100vh;
    overflow-y: scroll;
    width: 70%;
    position: relative;
    z-index: 5;
    padding: 0em 2em;
    padding-top: 9em;
    background-color: var(--bg);
    transform: translateX(100%);
    transition: 500ms ease-in-out;
    transition-delay: 100ms;
  }

  .container .menu-overlay.active {
    transform: translateX(0%);
  }

  .container .menu-overlay.active .mobileNav {
    transform: translateX(0%);
  }

  .container .menu-overlay .cancel {
    object-fit: fixed;
    width: 3em;
    position: absolute;
    top: 7%;
    right: 7%;
    cursor: pointer;
    z-index: 9;
    display: block;
  }

  .container .menu-overlay .mobileNav ul {
    padding: 0 1em;
  }

  .container .menu-overlay .mobileNav ul li {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: 500ms ease-in;
    margin: 1em 0em;
  }

  .container .menu-overlay .mobileNav ul li a {
    color: var(--primary);
    font-size: 1.5em;
    font-weight: 600;
    border-radius: 3px;
  }

  .container .menu-overlay .mobileNav ul li:hover {
    background-color: var(--highlight);
  }

  .home .sideBarSec {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0%;
    top: 9%;
    background-color: var(--bg);
  }
  .home .sideBarSec.sticky {
    position: fixed;
    top: 0%;
  }
  .home .subMenu {
    width: 100%;
    display: flex;
    gap: 0 2em;
    align-items: flex-end;
    padding: 2em 2em;
    background-color: var(--bg);
    border-bottom: 1px solid #E2E3E3;
    cursor: pointer;
  }

  .home .subMenu h4 {
    font-weight: 600;
    font-size: 1.6em;
    color: var(--primary);
  }

  .home .subMenu .icon {
    font-size: 1.6em;
    color: var(--primary);
    transition: 500ms ease-in-out;
  }

  .home .sideBarSec.active .subMenu .icon {
    transform: rotate(180deg);
  }

  .home .sideBarSec .sidebar {
    width: 100%;
    height: 100vh;
    left: 0%;
    top: 18.5%;
    padding: 0em 2.5em;
    background-color: var(--bg);
    z-index: 4;
    transition: 500ms ease-in-out;
    transform: translateY(-100%);
    display: none;
  }

  .home .sideBarSec.active .sidebar {
    transform: translateY(0%);
    display: block;
  }

  .home .sidebar form {
    width: 100%;
    height: 4em;
    display: flex;
    align-items: center;
    margin: 2em 0em;
    border-radius: 5px;
    background-color: var(--highlight);
  }

  .home .sidebar form button {
    font-size: 2em;
    background-color: transparent;
    border: none;
    outline: none;
    margin: 0em 0.5em;
    color: var(--primary);
    cursor: pointer;
  }

  .home .sidebar form input {
    width: 100%;
    font-size: 2em;
    height: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--primary);
  }

  .home .sidebar h2 {
    font-size: 1.6em;
    margin-top: 2em;
  }

  .home .sidebar li {
    font-size: 1.6em;
    margin: 1.5em 0em;
  }

  .home .main {
    width: 100%;
    height: auto;
    padding-left: 2em;
  }

  .home main p {
    font-size: 1.5em;
  }

}